// 链接文字
.link {
  color: #fdfdfe;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $--color-primary;

    * {
      text-decoration: underline;
    }

    i {
      text-decoration: none;
    }
  }

  &.b {
    color: #333;

    &:hover {
      color: #37b0ff;
      text-decoration: none;
      background-color: #f5f7fa;
    }
  }
}

// 滑块
.drag {
  position: absolute;
  background-color: #014280;
  color: $--color-white;
  right: -1rem;
  top: 50%;
  width: 1rem;
  height: 3rem;
  line-height: 3rem !important;
  font-size: 1rem;
  text-align: center;
  border-radius: 0 0.3rem 0.3rem 0;
  margin-top: -1.5rem;
  box-sizing: border-box;
  cursor: col-resize;
  z-index: 3;

  &:before {
    margin-left: -0.14rem;
  }
}

// 展开的下拉列表
.el-select-dropdown {
  user-select: none;

  .el-select-dropdown__wrap {
    max-height: 18.6rem;
  }

  &.is-multiple {
    .el-select-dropdown__item {
      font-size: 1.2rem;

      &.selected::after {
        display: none;
      }

      &::before {
        content: '';
        display: inline-block;
        height: 1.2rem;
        width: 1.2rem;
        border: 0.1rem solid #dce0e2;
        margin-right: 1rem;
        vertical-align: text-bottom;
      }

      &.selected {
        &::before {
          background: url('/img/dj.png') no-repeat center/1rem auto;
        }
      }
    }
  }

  .el-select-dropdown__item {
    font-size: 1.2rem;
  }
}

// msg
.el-message {
  max-width: 90vw;
  min-width: 40rem !important;
  user-select: none;

  .el-message__icon {
    font-size: 1.4rem;
  }

  .el-message__content {
    line-height: 1.2;
  }
}

// 表格控件
.con-el-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1000;
  border: none;

  &.el-table--border {
    border: none;
  }

  &:before {
    display: none;
  }

  &:after {
    display: none;
  }

  &.el-table {
    .el-table__header {
      border-top: 0.1rem solid #e3e3e3;

      tr {
        &:first-of-type {
          th {
            &:first-of-type {
              border-left: 0.1rem solid #e3e3e3;
            }
          }
        }
      }

      th {
        background-color: #f2f2f2;
        color: #666;
        border-color: #e3e3e3 !important;
        border-width: 0.1rem !important;
        box-sizing: border-box;
        font-weight: 400;
        line-height: 1;
        padding: 0.6rem 0;
        font-size: 1.2rem;

        .cell {
          padding: 0 1rem;
          line-height: 2rem;
          display: flex;
          align-items: center;

          .caret-wrapper {
            width: 2rem;
            height: 2.2rem;
            display: inline-flex;
            justify-content: space-between;
            margin-left: 0.5rem;

            .sort-caret {
              width: 1rem;
              height: 1rem;
              position: static;

              &.ascending {
                order: 1;
              }

              &.descending {
                order: 2;
              }
            }
          }
        }

        &.gutter {
          display: table-cell !important;
          border-right: 0;
        }
      }

      &.is-group {
        th {
          background-color: #f2f2f2;
          color: #666;
          border-left: 0.1rem solid #e3e3e3;
          border-top: 0.1rem solid #e3e3e3;
          box-sizing: border-box;
          font-weight: 400;
          line-height: 1;
          padding: 0.6rem 0;
          font-size: 1.2rem;

          &.gutter {
            display: table-cell !important;
          }
        }
      }
    }

    .el-table th.gutter {
      display: table-cell !important;
    }

    .el-table__body-wrapper {
      border: none;
      flex-grow: 1000;

      .el-table__body {
        border-left: 0.1rem solid #e3e3e3;
        table-layout: auto;

        tr {
          td {
            padding: 0.5rem 0;
            border-right: 0.1rem solid #eee;
            box-sizing: border-box;
            font-size: 1.2rem;

            .el-table-img {
              width: 100%;
              max-height: 8.4rem;
              display: block;

              &.err-img {
                max-width: 2.3rem;
              }
            }

            .cell {
              min-height: 1rem;

              > * {
                margin: 0;
              }
            }

            &.edit-cell {
              padding: 0.1rem;
              box-sizing: border-box;

              .cell {
                padding: 0;
                width: 100% !important;
                box-sizing: border-box;
                display: flex;
                align-items: center;

                .el-date-editor {
                  position: relative;
                  display: inline-block;
                  text-align: left;
                }

                .el-date-editor.el-input,
                .el-date-editor.el-input__inner {
                  width: auto;
                }

                .el-date-editor--monthrange.el-input,
                .el-date-editor--monthrange.el-input__inner {
                  width: auto;
                }

                .el-date-editor--daterange.el-input,
                .el-date-editor--daterange.el-input__inner,
                .el-date-editor--timerange.el-input,
                .el-date-editor--timerange.el-input__inner {
                  width: auto;
                }

                .el-date-editor--datetimerange.el-input,
                .el-date-editor--datetimerange.el-input__inner {
                  width: auto;
                }

                input,
                select {
                  width: 100%;
                  // border: 0.1rem solid rgba(219, 219, 219, 1);
                  border: none;
                  background-color: rgba(0, 0, 0, 0);
                  color: #666;
                  font-size: 1.2rem;
                  height: 3rem;
                  line-height: 3rem;
                  padding: 0 1rem;
                  box-sizing: border-box;

                  &[type='checkbox'] {
                    height: 1.5rem;
                  }

                  &:focus {
                    outline: none;
                    border: 1px solid #37afff;
                    background-color: #eee;
                  }
                }

                * {
                  border-radius: 0;
                  line-height: 1;
                }
              }

              &.is-right {
                * {
                  text-align: right;
                }
              }

              .el-tooltip {
                padding: 0;
                width: 100% !important;
                box-sizing: border-box;
                display: flex;
                align-items: center;

                .el-table__expand-icon {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  // width: 1rem;
                }

                input,
                select {
                  width: 100%;
                  // border: 0.1rem solid rgba(219, 219, 219, 1);
                  border: none;
                  background-color: rgba(0, 0, 0, 0);
                  color: #666;
                  font-size: 1.2rem;
                  height: 3rem;
                  line-height: 3rem;
                  padding: 0 1rem;
                  box-sizing: border-box;

                  &[type='checkbox'] {
                    height: 1.5rem;
                  }

                  &:focus {
                    outline: none;
                    border: 1px solid #37afff;
                    background-color: #eee;
                  }
                }
              }
            }

            &.bt-info {
              .cell {
                padding: 0 0.1rem;

                > span {
                  padding-left: 1rem;
                }

                .el-input {
                  border-radius: 0;

                  .el-input__inner {
                    border-radius: 0;
                  }
                }
              }
            }

            &.is-center {
              .cell {
                > span {
                  padding: 0;
                }
              }
            }
          }

          &.current-row {
            td {
              // background-color: #e3e3e3;
              color: $--color-primary;
            }
          }
        }
      }

      .el-table__empty-block {
        align-items: flex-start;

        .el-table__empty-text {
          padding: 2rem 0 0;
          line-height: 1;
        }
      }
    }
  }
}

.el-input--mini {
  .el-input__inner {
    height: 3.2rem;
    line-height: 3.2rem;
  }
}

// 密码组件
.newPwd {
  .el-input__inner {
    border-color: #dcdfe6 !important;
  }
}

.pwdMsg {
  margin: 0.5rem 0 !important;
  color: #999999;

  p {
    line-height: 1.6rem;
    font-size: 1.2rem;

    &:before {
      content: '';
      display: inline-block;
      width: 0.4rem;
      height: 0.4rem;
      background: #999999;
      border-radius: 50%;
      vertical-align: top;
      margin-top: 0.6rem;
      margin-right: 0.5rem;
    }

    &.lightHeigh {
      color: #333333;

      &:before {
        background: $--color-primary;
      }
    }
  }
}

// 树状图
.multipleTable {
  .el-table {
    width: 60%;

    .el-table__header {
      width: 100% !important;
      table-layout: inherit;
    }

    .el-table__body {
      width: 100% !important;

      td {
        &:first-of-type {
          width: 5rem !important;

          .cell {
            width: 5rem !important;
          }
        }
      }
    }

    [class*='el-table__row--level'] {
      .el-table__expand-icon {
        margin-right: 0.5rem;
      }
    }

    .el-table__header-wrapper {
      tr {
        &:nth-of-type(2) {
          display: none;
        }
      }
    }

    .el-table--enable-row-transition {
      .el-table__body {
        td {
          &:first-of-type {
            border-right: 0.1rem !important;
          }
        }
      }
    }

    th {
      padding: 0.6rem 0;

      > .cell {
        font-weight: 400;
        font-size: 1.2rem;
        color: #666;
      }

      &:first-of-type {
        border-left: rem !important;
      }
    }

    td {
      padding: 0.6rem 0;

      &:first-of-type {
        border-right: rem !important;
      }
    }

    .el-icon-arrow-right {
      width: 1.3rem;
      height: 1.3rem;
      color: #808182;

      &:before {
        content: '\e791';
        margin-left: 0.1rem;
      }
    }

    .el-table--group {
      &:after {
        width: rem;
      }
    }

    .powerBtn {
      margin-left: 4rem;
    }
  }
}

// 多选框
.el-checkbox {
  color: #333;

  .el-checkbox__label {
    font-size: 1.2rem;
  }
}

// 多行文本
.el-textarea {
  .el-textarea__inner {
    padding: 0.5rem 1rem;
  }

  // 滚动条
  ::-webkit-scrollbar {
    /*整体*/
    width: 1.5rem !important;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    /*滑块*/
    background: #e6e6e6;
    border-radius: 0.25rem;
  }

  ::-webkit-scrollbar-track {
    /*轨道*/
    border-radius: 0.25rem;
    background: #f2f2f2;
  }
}

// ?
.disnone {
  input {
    border: 0.1rem solid #dcdfe6 !important;
    padding-left: 1.5rem !important;
  }
}

.ck-content {
  overflow: auto;
}

.edui-editor {
  box-sizing: border-box;
  border-radius: 0;
}

.el-date-editor {
  .el-input__prefix {
    color: $--color-primary;
  }
}

.el-range-editor {
  // overflow: hidden;

  &.el-input__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    height: 3.2rem;
    line-height: 3.2rem;
    overflow: visible;

    * {
      height: 2.6rem;
      line-height: 2.6rem;
    }
  }

  .el-input__icon {
    width: 1.5rem;
    font-size: 1.4rem;
    margin: 0 0 0 0.5rem;
    flex-shrink: 0;

    &.el-range__close-icon {
      margin: 0;
    }
  }

  .el-range-input {
    // width: 11.2rem;
    width: 0;
    flex: 1;
    flex-grow: 10;
    text-align: center;
  }

  .el-range-separator {
    font-size: 1.2rem;
    padding: 0 0.2rem;
    width: 1.6rem;
  }

  .el-input__prefix {
    color: $--color-primary;
  }

  &.el-input--prefix {
    .el-input__inner {
      padding-left: 1rem;
    }
  }

  .el-input__suffix {
    right: 2rem;
  }

  .el-range__icon {
    color: $--color-primary;
  }

  .el-range__close-icon {
    font-size: 1.4rem;
  }
}

.el-year-table {
  td {
    .cell {
      font-weight: bold;
    }
  }
}

.el-input {
  max-width: 100%;
  border-radius: 0;

  .el-input__inner {
    border-radius: 0.3rem;
  }
}

.el-input-number {
  max-width: 100%;
  width: 100%;

  .el-input__inner {
    text-align: left;
  }
}

.el-textarea {
  .el-textarea__inner {
    border-radius: 0;
  }
}

// 上传组件
.el-upload {
  text-align: left;
}

.el-upload__tip {
  font-size: 1.2rem;
  display: inline;
  margin: 1rem 0 0 1rem;
  user-select: none;

  &:empty {
    margin: 0;
  }
}

.el-upload-list {
  margin: 1rem 0 -1rem 0;
  user-select: none;

  &:empty {
    margin: 0;
  }

  &.el-upload-list--text {
    .el-upload-list__item {
      line-height: 1;
      padding: 0.3rem 0;
      margin-bottom: 1rem;

      &:first-child {
        margin-top: 1rem;
      }

      .el-upload-list__item-name {
        color: #666;
      }

      .el-upload-list__item-status-label {
        top: 0.3rem;
      }

      .el-progress {
        position: inherit;
        top: 0;
      }

      .el-icon-close {
        top: 0.3rem;
      }
    }
  }

  &.el-upload-list--picture {
    display: flex;
    flex-wrap: wrap;

    .el-upload-list__item {
      padding: 0;
      border-radius: 0;
      height: auto;
      width: 19rem;
      // max-width: 20rem;
      max-height: 14rem;
      margin: 0 1rem 1rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eee;

      .el-upload-list__item-thumbnail {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin: 0;
      }

      .el-upload-list__item-name {
        display: none;
      }

      .el-upload-list__item-status-label {
        display: none;
      }

      .el-icon-close {
        z-index: 1;
        left: 0;
        top: 0;
        right: auto;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.2rem;

        &::before {
          content: '删除';
          color: #fff;
          font-size: 1.2rem;
        }
      }
    }
  }
}

// 即将淘汰
.el-upload-v2 {
  .el-icon-document {
    display: none;
  }

  .upload_readonly {
    width: 30rem;
  }

  .el-upload-list__item-name {
    margin-right: 4rem;
    width: 26rem;
    color: #666;
  }

  .el-icon-close {
    .el-icon-close-tip {
      display: none;
    }

    &::before {
      color: #000;
      content: '删除';
    }
  }

  .downFont {
    font-size: 1.4rem;
    display: inline-block;
    width: 30rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      color: #0f86d3;
    }

    .split {
      &::before {
        content: '';
        display: block;
      }
    }
  }
}

// 即将淘汰
.upload-img {
  user-select: none;

  > img {
    max-width: 100%;
  }

  .view {
    overflow: hidden;

    img {
      border: 0.1rem solid #dcdfe6;
      max-width: 100%;
      display: block;
      height: 14rem;
      margin-right: 2rem;
      margin-bottom: 2rem;
      float: left;
    }
  }

  .el-upload {
    position: relative;
    z-index: 2;
  }

  .tip-pan {
    margin-top: -3rem;
    position: relative;
    overflow: hidden;

    .tip {
      margin-left: 8rem;
      line-height: 1;
      padding: 0.9rem 0 0.9rem 0.9rem;
      color: #666;
      margin-bottom: 1rem;
      min-height: 3.2rem;
    }

    .ts-pan {
      float: left;
      position: relative;
      margin-right: 2rem;
      margin-bottom: 2rem;
      width: 100%;
      border: 0.1rem solid #dcdfe6;
      border-radius: 0.3rem;

      span {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 3.6rem;
        height: 2.9rem;
        color: $--color-white;
        text-align: center;
        font-size: 1.2rem;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }

      .tip-txt {
        position: absolute;
        top: -4.2rem;
        left: 8rem;
        color: #999;
        padding-left: 1rem;
        font-size: 1.2rem;
      }

      .up-img {
        border: 0.1rem solid #dcdfe6;
        display: block;
        max-height: 14rem;
        max-width: 100%;
      }
    }
  }

  .del {
    cursor: pointer;
    font-size: 1.2rem;
    color: #ccc;

    &:hover {
      color: #333;
      text-decoration: underline;
    }
  }
}

.el-select {
  width: 100%;

  .el-select__tags {
    > span {
      display: flex;
      flex-wrap: wrap;

      .el-tag {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.el-tag--info {
          border: 0;
        }

        .el-icon-close::before {
          color: $--color-white;
        }
      }
    }
  }
  .el-loading-spinner {
    text-align: left;
    top: 50%;
    left: 5px;
    margin-top: 0;
    transform: translateY(-50%);
    svg {
      height: 25px;
      width: 25px;
    }
  }
}

.el-cascader {
  .el-cascader__tags {
    .el-tag {
      .el-tag__close {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        width: 1.6rem;
        height: 1.6rem;
        line-height: 1;
      }
    }
  }
}

.el-switch {
  padding-top: 0.6rem;
  height: 2.8rem;
  line-height: 2rem;
}

.el-radio-group {
  padding-top: 1rem;

  .el-radio__input {
    .el-radio__inner {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  .el-radio__label {
    font-size: 1.2rem;
  }
}

.el-txt {
  color: #555;
  // overflow: auto;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  word-wrap: break-word;
  align-items: flex-start;
  min-height: 2.8rem;

  .img {
    border: 1px solid #eee;
    width: 19rem;
    height: auto;
    max-height: 14rem;
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      border: 0.1rem solid #eee;
    }
  }

  a.link {
    color: $--color-primary;
    text-decoration: none;
    line-height: 1.2;

    &:hover {
      text-decoration: underline;
    }

    &:after {
      content: ',';
      margin-right: 1rem;
    }

    &:last-of-type {
      &::after {
        display: none;
      }
    }
  }

  > * {
    margin: 0;
  }
}

.el-form-item__error {
  top: auto;
  left: auto;
  position: relative;
}
