.el-dialog__wrapper,
.el-message-box__wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .popup,
  .el-message-box {
    padding: 0;
    width: 71rem;
    max-width: 90vw;
    max-height: 59rem;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    margin: 0 !important;

    &.el-message-box {
      width: 43rem;
    }

    &.s {
      width: 43rem;
    }

    &.b {
      max-height: 86rem;
      width: 80vw;
    }

    .el-dialog__header,
    .el-message-box__header {
      padding: 1.5rem 1rem;
      background-color: #f8f8f8;
      border-bottom: 1px solid #eee;
      user-select: none;
      display: flex;
      justify-content: space-between;

      .el-dialog__headerbtn {
        position: inherit;
        line-height: 1;
      }

      .el-dialog__title,
      .el-message-box__title {
        font-size: 1.4rem;
        color: #666;
        line-height: 1;
      }
    }

    .el-dialog__body,
    .el-message-box__content {
      padding: 3rem;
      overflow: auto;
      text-align: justify;
      text-align-last: left;

      > * {
        padding: 0;
      }
    }

    .el-dialog__footer,
    .el-message-box__btns {
      border-top: 1px solid #eee;
      padding: 2rem 0;
      text-align: center;
      user-select: none;
      display: flex;
      justify-content: center;

      .el-button {
        width: 4.6rem;
        height: 3.2rem;
        line-height: 3.2rem;
        padding: 0;
        font-size: 1.2rem;
        margin: 0 0.5rem;

        &:first-of-type {
          order: 1;
        }
      }
    }
  }
}
